<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sharan.cool.lasttryglam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/circlecropped"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lasttryglam">
        <activity android:name=".boughtby"></activity>
        <activity android:name=".checkout" />
        <activity android:name=".titlebarname" />
        <activity android:name=".cartpage" />
        <activity android:name=".product_details" />
        <activity android:name=".userprofile" />
        <activity android:name=".dashboard" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>